:root {
  --bg-main: #242629;
  --bg-card: #16161a;
  --title: #fffffe;
  --paragraph: #94a1b2;
  --highlight: #7f5af0;
  --stroke: #010101;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

a,
button {
  cursor: pointer;
}
a,
button,
input {
  font-family: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--bg-main);
}
